
.idea/workspace.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2024_8_26_PM_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2024_8_26_PM_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2024_8_26_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2024_8_26_PM__Changes_1.xml
