/* h1 {
   font-weight: 500;
}
h2 {
   font-weight: 300;
}
p {
   font-weight: 300;
}

body {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   grid-gap: 40px;
}

body figure {
   margin: 0;
   padding: 10px;
   border: 1pt solid black;
} */

nav ul li {
  list-style-type: none;
  display: inline-block;
  font-weight: normal;
  padding: 25px;
}

a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #656565;
  text-decoration: none;
} 

figure {
   margin-bottom: 20px;
   padding: 10px;
   border: 1pt solid black;
}

